@use  '../../styles/partials/variables' as *;

.circular {
    padding-top: 1rem;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    svg {
      position: relative;
    }   
  }
  
  