
@font-face {
    font-family: 'Futura';
    src: url('../../../src/assets/fonts/Futura-Book.ttf') format('truetype'); 
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../../../src/assets/fonts/Futura-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: light;
  }

  @font-face {
    font-family: 'Futura';
    src: url('../../../src/assets/fonts/Futura-Heavy.ttf') format('truetype'); 
    font-weight: bold;
  }