@use  '../../styles/partials/typography' as *;
$Font-Black: #403E3D;
$Background-Beige: #F9F8F7;
$Background-Black: #181715;
$Dark-Line: #57843D;
$Ligth-Line: #E8F3D9;
$Orange: #E76D34;
$Pink: #D7CBCE;
$Gold: #CCA64F;
$Primary-Blue: #7BD0FF;
$Primary-Dark-Blue: #0080AA;
$Primary-Gold: #ECC15D;
$Primary-Font: "Futura", Arial, sans-serif;